tmp/*
config/database.php
config/core.php
controllers/config/
!empty
webroot/videos/
webroot/img
webroot/js/empty
webroot/files
webroot/audios
.hg/
.hgignore
exportaka.sh
exportakadb.sh
import.sh
libs/empty
logs.sh
models/datasources/akismet_source.php
picadametlesch5.sql
tests/
vendors/captcha
views/elements/empty
